/public/build
/public/uploads
/public/storage
/public/vendor
/storage/*.key
/vendor
/.idea
/.vagrant
/node_modules
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
package-lock.json
composer.lock
